
.cardDiv{
    position: relative;
    padding: 2rem 1 rem;
    background: white;
    border-radius: 10px;
    gap: 1rem;
    width: 80%;
    // height: 80px;

 
    .BorderColor{
        border: 2px orange solid;

    }
}